[submodule "components/crud-web-apps/common/frontend/kubeflow-common-lib"]
	path = components/crud-web-apps/common/frontend/kubeflow-common-lib
	url = https://github.com/aigorithmics/aigoml-kubeflow-common-lib.git
