<lib-form-section
  title="Data Volumes"
  text="Additional volumes that will be mounted in your Notebook."
  i18n-title
  i18n-text
>
  <mat-accordion>
    @for (volGroup of volsArray.controls; track $index; let i = $index; let last = $last) {
      <mat-expansion-panel
        hideToggle
        (opened)="openPanel.add(i)"
        (closed)="openPanel.clear()"
        [class.last]="last"
        data-cy="data volumes"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ getVolumeTitle(volGroup.value) }}
          </mat-panel-title>

          <mat-panel-description>
            @if (volGroup.get('newPvc')) {
              <div
                class="pvc-name truncate"
                [matTooltip]="getVolumeName(volGroup.value)"
              >
                {{ getVolumeName(volGroup.value) }},
              </div>
              <div class="pvc-type">{{ getNewVolumeType(volGroup.value) }},</div>
              <div>{{ getNewVolumeSize(volGroup.value) }}</div>
            }

            @if (volGroup.get('existingSource')) {
              <div
                class="vol-name truncate"
                [matTooltip]="getVolumeName(volGroup.value)"
              >
                {{ getVolumeName(volGroup.value) }}
              </div>
            }

            <div class="icons">
              @if (!readonly) {
                <mat-icon
                  (click)="onDelete(i, $event)"
                  matTooltip="Delete volume"
                  i18n-matTooltip
                  class="delete-icon"
                >
                  delete
                </mat-icon>
              }

              @if (!openPanel.has(i)) {
                <mat-icon
                  matTooltip="Show volume details"
                  i18n-matTooltip
                >
                  expand_more
                </mat-icon>
              }

              @if (openPanel.has(i)) {
                <mat-icon
                  matTooltip="Hide volume details"
                  i18n-matTooltip
                >
                  expand_less
                </mat-icon>
              }
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div [class.readonly]="readonly">
          @if (volGroup.get('existingSource')) {
            <app-existing-volume
              [volGroup]="volGroup"
            ></app-existing-volume>
          }

          @if (volGroup.get('newPvc')) {
            <app-new-volume
              [volGroup]="volGroup"
              [externalName]="externalName"
            ></app-new-volume>
          }

          <app-volume-mount [volGroup]="volGroup"></app-volume-mount>
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>

  <div class="volume-buttons">
    <button
      type="button"
      color="primary"
      [disabled]="readonly"
      (click)="addNewVolume()"
      mat-stroked-button
      i18n
      data-cy="add new volume"
    >
      + Add new volume
    </button>

    <button
      type="button"
      color="primary"
      [disabled]="readonly"
      (click)="attachExistingVolume()"
      mat-stroked-button
      i18n
      data-cy="attach existing volume"
    >
      + Attach existing volume
    </button>
  </div>
</lib-form-section>
