<div class="lib-content-wrapper">
  <lib-title-actions-toolbar title="Notebooks" [buttons]="buttons" i18n-title>
    <lib-namespace-select
      *ngIf="(ns.dashboardConnected$ | async) === dashboardDisconnectedState"
      namespacesUrl="/api/namespaces"
    ></lib-namespace-select>
  </lib-title-actions-toolbar>

  <!--scrollable page content-->
  <div class="page-padding lib-flex-grow lib-overflow-auto">
    <lib-loading-spinner *ngIf="!dataLoaded"></lib-loading-spinner>

    <ng-container *ngIf="dataLoaded">
      <lib-table *ngIf="isServerPagination"
        [config]="config"
        [data]="processedData"
        [trackByFn]="notebookTrackByFn"
        [serverPagination]="true"
        [totalItems]="totalItems"
        (actionsEmitter)="reactToAction($event)"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
        (filterChange)="onFilterChange($event)"
      ></lib-table>

      <lib-table *ngIf="!isServerPagination"
        [config]="config"
        [data]="processedData"
        [trackByFn]="notebookTrackByFn"
        (actionsEmitter)="reactToAction($event)"
      ></lib-table>
    </ng-container>
  </div>
</div>
