<div class="lib-content-wrapper">
  <lib-title-actions-toolbar title="Volumes" [buttons]="buttons" i18n-title>
    @if ((ns.dashboardConnected$ | async) === dashboardDisconnectedState) {
      <lib-namespace-select
        namespacesUrl="/api/namespaces"></lib-namespace-select>
    }
  </lib-title-actions-toolbar>

  <!--scrollable page content-->
  <div class="page-padding lib-flex-grow lib-overflow-auto">
    @if (!dataLoaded) {
      <lib-loading-spinner></lib-loading-spinner>
    }

    @if (dataLoaded) {
      @if (isServerPagination) {
        <lib-table [config]="config" [data]="processedData" [trackByFn]="pvcTrackByFn"
          [serverPagination]="true" [totalItems]="totalItems" (actionsEmitter)="reactToAction($event)"
          (onPageChange)="onPageChange($event)" (onSortChange)="onSortChange($event)"
          (onFilterChange)="onFilterChange($event)"></lib-table>
      }

      @if (!isServerPagination) {
        <lib-table [config]="config" [data]="processedData" [trackByFn]="pvcTrackByFn"
          (actionsEmitter)="reactToAction($event)">
        </lib-table>
      }
    }
  </div>
</div>
