@if (logsLoading) {
  <lib-loading-spinner></lib-loading-spinner>
}

<!--if no logs are present at all then show a warning message-->
@if (!logsLoading && logsEmpty) {
  @if (!pod) {
    <lib-panel> No logs were found for this Notebook. </lib-panel>
  }
  @if (pod) {
    <lib-panel icon="error" color="warn">
      Error: {{ loadErrorMsg }}
    </lib-panel>
  }
}

@if (!logsLoading && !logsEmpty) {
  <lib-logs-viewer
    class="logs-viewer"
    heading="Notebook Pod Logs"
    [subHeading]="''"
    [logs]="logs"
  ></lib-logs-viewer>
}
