<div class="used-by-container truncate">
  <span
    [libPopover]="popoverCard"
    [libPopoverPosition]="'before'"
    [libPopoverHideDelay]="100"
    [libPopoverShowDelay]="100"
  >
    @for (nb of element.notebooks; track nb) {
      <lib-urls
        [urlList]="[getUrlItem(nb, element)]"
      >
      </lib-urls>
    }
  </span>
</div>

<ng-template #popoverCard>
  <div class="popoverCard">
    <p>Notebooks</p>
    @for (nb of element.notebooks; track nb) {
      <li>
        <lib-urls [urlList]="[getUrlItem(nb, element)]"></lib-urls>
      </li>
    }
  </div>
</ng-template>
