<lib-details-list-item key="Access modes" [chipsList]="accessModes">
</lib-details-list-item>

<lib-details-list-item key="Size">
  {{ size }}
</lib-details-list-item>

<lib-details-list-item key="Storage class">
  {{ storageClass }}
</lib-details-list-item>

<lib-details-list-item key="Volume mode">
  {{ volumeMode }}
</lib-details-list-item>

@if (volumeName) {
  <lib-details-list-item key="Volume name">
    {{ volumeName }}
  </lib-details-list-item>
}

@if (ownerReferencesNotEmpty) {
  <lib-details-list-item
    key="Owned by"
    keyTooltip="The pvc is owned by the objects in this list. If all objects in the list get deleted, then the PVC itself will be deleted"
    [chipsList]="ownerRefs"
  >
  </lib-details-list-item>
}

<lib-content-list-item key="Pods Mounted">
  @if (!podGroupsLoaded) {
    <lib-loading-spinner></lib-loading-spinner>
  }

  @if (podGroupsLoaded) {
    <app-link-groups-table
      [linkGroups]="podGroups"
      [loadCompleted]="podGroupsLoaded"
      [loadErrorMsg]="podsMountedMessage"
    >
    </app-link-groups-table>
  }
</lib-content-list-item>
