/* You can add global styles to this file, and also import other style files */
@use 'kubeflow-aigo/src/styles/styles.scss';
@use 'kubeflow-aigo/src/styles/fonts.scss';

body {
  background-color: white;
  margin: 0;
}

// Fix for MDC breaking 100% width on lib-table text filter boxes
mat-form-field.example-chip-list {
  width: 100%;
}
